<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.las.lasbackenduser3000.mapper.UserMapper">

        <select id="getUserList" resultType="com.las.lasbackenduser3000.model.User">
                select * from user
        </select>

        <select id="getUserByTag" resultType="com.las.lasbackenduser3000.model.User" parameterType="string">
                select * from user where userTag = #{userTag}
        </select>

        <select id="getUserById" resultType="com.las.lasbackenduser3000.model.User" parameterType="int">
                select * from user where id = #{id}
        </select>

        <select id="getUserByName" resultType="com.las.lasbackenduser3000.model.User" parameterType="string">
                select * from user where userName = #{userName}
        </select>

        <select id="getUserByPassword" resultType="com.las.lasbackenduser3000.model.User" parameterType="string">
                select * from user where userPassword = #{userPassword}
        </select>

        <select id="getUserByTime" resultType="com.las.lasbackenduser3000.model.User" parameterType="long">
                select * from user where time = #{time}
        </select>
        
        <select id="getUserByLastLogin" resultType="com.las.lasbackenduser3000.model.User" parameterType="string">
                select * from user where lastLogin = #{lastLogin}
        </select>

        <select id="getUserByWhiteList" resultType="com.las.lasbackenduser3000.model.User" parameterType="string">
                select * from user where whiteList = #{whiteList}
        </select>

        <select id="getUserByOnline" resultType="com.las.lasbackenduser3000.model.User" parameterType="int">
                select * from user where online = #{online}
        </select>

        <select id="getUserByProbation" resultType="com.las.lasbackenduser3000.model.User" parameterType="string">
                select * from user where probation = #{probation}
        </select>

        <select id="getUserByAdministrator" resultType="com.las.lasbackenduser3000.model.User" parameterType="int">
                select * from user where administrator = #{administrator}
        </select>

        <select id="getUserByQq" resultType="com.las.lasbackenduser3000.model.User" parameterType="string">
                select * from user where qq = #{qq}
        </select>

        <insert id="addUser" parameterType="com.las.lasbackenduser3000.model.User">
                insert into user(id, time, userName, userPassword, userSignature, userTag, lastLogin, whiteList, online, probation,administrator,slat,qq,avatar) value (#{id},#{time},#{userName},#{userPassword},#{userSignature},#{userTag},#{lastLogin},#{whiteList},#{online},#{probation},#{administrator},#{slat},#{qq},#{avatar})
        </insert>

        <delete id="deleteUserByName" parameterType="com.las.lasbackenduser3000.model.User">
                delete from user where userName = #{userName}
        </delete>

        <update id="update">
                update user
                set id = #{id},
                    time = #{time},
                    userName = #{userName},
                    userPassword = #{userPassword},
                    userSignature = #{userSignature},
                    userTag = #{userTag},
                    lastLogin = #{lastLogin},
                    whiteList = #{whiteList},
                    online = #{online},
                    probation = #{probation},
                    administrator = #{administrator},
                    slat = #{slat},
                    qq = #{qq},
                    avatar = #{avatar}
                where id = #{id}
        </update>
</mapper>